---
import Container from '../atoms/Container.astro';
import Heading from '../atoms/Heading.astro';
import FaqItem from '../molecules/FaqItem.astro';

interface FaqEntry {
  question: string;
  answer: string;
}

interface Props {
  heading: string;
  headingAlign: 'left' | 'center';
  items: FaqEntry[];
}

const { heading, headingAlign, items }: Props = Astro.props;
---

<section class="py-16 md:py-24" id="preguntas-frecuentes">
  <Container class="mx-auto flex max-w-3xl flex-col gap-10">
    <Heading as="h2" size="md" align={headingAlign}>{heading}</Heading>
    <div class="flex flex-col gap-4">
      {items.map((item) => (
        <FaqItem question={item.question} answer={item.answer} />
      ))}
    </div>
  </Container>
</section>
