---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../component/atoms/Container.astro';
import Heading from '../component/atoms/Heading.astro';
import Text from '../component/atoms/Text.astro';
import Label from '../component/atoms/Label.astro';
import Input from '../component/atoms/Input.astro';
import Button from '../component/atoms/Button.astro';
---

<BaseLayout>
  <Container>
    <Heading as="h1" size="lg">Encabezado de prueba</Heading>
    <Text muted>Texto de prueba</Text>
    <Label for="test-input">Etiqueta de prueba</Label>
    <Input name="test-input" placeholder="Campo de prueba" />
    <Button variant="primary">Botón de prueba</Button>
  </Container>
</BaseLayout>
